* {
    box-sizing: border-box;
}

html {
    color: var(--col5);
    line-height: 1.25;
    font-family: lato-reg, serif;
    font-size: 16px;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    max-width: 166px;
}

/* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.57142em 1.5em;
} */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* gap: 1.57142em 1.5em; */
    gap: 1.57142em;
    /* background-color: var(--clr3); */
    /* padding: 0 2em 2em 2em; */
    /* flex-grow: 6; */
}


.memes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* gap: 1.57142em 1.5em; */
    gap: 1.57142em;
    /* flex-grow: 6; */

}

img.icon-btn {
    width: 3.75em;
    height: 3.75em;
    font-size: 1.5em;
}

.search-icon {
    width: 1.2rem;
}

.myImg {
    border-radius: 50%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}

.btn {
    background-color: var(--clr1);
    border-radius: 0.42857em;
    width: 7.5em;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.0;
    height: 3.75em;
    color: #fff;
    font-family: montserrat
}

a {
    color: #fff;
    text-decoration: none;
}