* {
    box-sizing: border-box;
}

html {
    color: var(--col5);
    line-height: 1.25;
    font-family: lato-reg, serif;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    object-fit: cover;

}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.57142em;
}


.memes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.57142em;

}

img.icon-btn {
    width: 3.75em;
    height: 3.75em;
    font-size: 1.5em;
    background-color: var(--clr3);
    border-radius: 10px;
}

.search-icon {
    width: 1.2rem;
}

.myImg {
    border-radius: 50%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    font-family: ubunto-medium;
}

.btn {
    background-color: var(--clr1);
    border-radius: 0.42857em;
    width: 7.5em;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.0;
    height: 3.75em;
    color: #fff;
    font-family: montserrat
}

a {
    color: #fff;
    text-decoration: none;
}

button {
    background-color: var(--clr3);
    border-radius: 10px;
}

.logo {
    font-family: alfa_slab;
}

.change-color {

    width: 100px px;
    height: 100px;
}