* {
    box-sizing: border-box;
}

html {
    color: var(--col5);
    line-height: 1.25;
    font-family: lato-reg, serif;
    font-size: 16px;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.57142em 1.5em;
}

/* .div-container {} */