.main-layout {
    max-width: 1120px;
    margin: 20px auto;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* padding: 5px; */
    padding: 5px 25px 5px;
}

/* .header-layout {
    max-width: 600px;
} */