@media (max-width: 650px) {
    .main-layout {
        margin: 20px auto;
        max-width: 450px;
        padding: 5px 0px 5px;
    }

    #my-canvas {
        width: 18.625em;
        height: 20.875em;
    }

    .editor-container {
        max-width: 370px;
        margin: auto;
        flex-direction: column;
    }

    .myImg {
        height: 150px;
        width: 140px;
    }

    .grid {
        max-width: 370px;
        margin: auto;
    }

    .editor {
        max-width: 420px;
    }

    .main-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 650px) {

    .editor-container {
        background-color: var(--clr2);
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }

    .top-fotter {
        display: flex;
        flex-direction: row;
        padding: 25px;
    }

    .myImg {
        width: 225px;
    }

    .canvas-container {
        width: 33.8125em;
        height: 37.5em;
    }

    .content {
        padding: 5px;
    }
}

@media (min-width: 760px) {
    .top-fotter {
        padding-left: 150px;
    }

    p {
        font-size: 1.26857rem;
    }

    .myImg {
        height: 225px;
    }
}