@media (max-width: 550px) {
    .main-layout {
        max-width: 450px;
        padding: 5px 0px 5px;
    }

    .button {
        max-width: 100px;
    }

    .container-tools-editor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-gallery {
        padding: 15px;
    }

    /* #my-canvas {
        width: 18.625em;
        height: 20.875em;
    } */

    .editor-container {
        max-width: 370px;
        margin: auto;
        flex-direction: column;
    }

    .myImg {
        height: 150px;
        width: 140px;
    }

    .grid {
        max-width: 370px;
        margin: auto;
    }

    .editor {
        max-width: 420px;
    }

    .main-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-footer {

        flex-wrap: wrap;
    }
}

@media (min-width: 650px) {

    img {
        max-width: 166px;
    }

    .editor-container {
        background-color: var(--clr2);
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }

    .nav-bar {
        display: flex;
    }

    .nav-bar>*:not(:first-child) {
        margin-left: 15px;
    }

    .top-bar {
        flex-direction: row;
    }

    .top-fotter {
        display: flex;
        flex-direction: row;
        padding: 25px;
    }

    .myImg {
        height: 179px;
    }

    /* .canvas-container {
        width: 33.8125em;
        height: 37.5em;
    } */

    .content {
        padding: 5px;
    }
}

@media (min-width: 760px) {
    .top-fotter {
        padding-left: 150px;
    }

    p {
        font-size: 1.26857rem;
    }

    .myImg {
        height: 173px;
    }

    button {
        max-width: 7.25em;
        max-height: 7.25em;
    }

    .main-gallery {
        padding: 15px;
    }

    .input-text {
        max-height: 6.25rem;
        border-radius: 15px;
    }


}