@media (max-width: 650px) {
    .main-layout {
        max-width: 450px;
    }

    .myImg {
        height: 150px;
        width: 140px;
    }

    .grid {
        max-width: 370px;
        margin: auto;
    }

    .my-editor {
        max-width: 370px;
    }

    .main-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

@media (min-width: 650px) {
    .top-fotter {
        display: flex;
        flex-direction: row;
        padding: 25px;
    }

    .myImg {
        width: 225px;
    }

    .content {
        padding: 5px;
    }
}

@media (min-width: 760px) {
    .top-fotter {
        padding-left: 150px;

    }

    p {
        font-size: 1.26857rem;
    }

    .myImg {
        height: 225px;
    }
}