.top-footer {
    background-color: var(--clr3);
}

.bottom-footer {
    background-color: var(--clr1);
    height: 120px;
    width: 100%;
}

.container-about {
    display: contents;
}

.content {
    padding: 15px;
}

.top-footer {
    display: flex;
}

.bottom-footer .logo {
    text-align: center;
    padding-top: 35px;
}