.my-editor {
    flex-wrap: wrap;
}

.canvas-container {
    /* margin: auto; */
}

.container-tools-editor {
    flex-wrap: wrap;
}

.editor-container {
    background-color: var(--clr2);
    flex-direction: row-reverse;
    flex-wrap: wrap;
}